<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" />
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/lib/html5shiv.js"></script>
<script type="text/javascript" src="/static/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
<link href="/static/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>添加新闻</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl" style="margin-left: 40px">
			<label class="form-label col-xs-4 col-sm-2">发送时间：</label><input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="margin-left:15px;width:200px;">
			<label style="margin-left: 80px">新闻分类：</label>
			<select class="select" id="newsType" style="width:200px">
				<option value="" onclick="">请选择</option>
				<option value="1">教育新闻</option>
				<option value="2">培训新闻</option>
			</select>
		</div>
		<div class="row cl" style="margin-left: 40px">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新闻标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="title" name="title">
			</div>
		</div>
		<div class="row cl" style="margin-left: 40px">
			<label class="form-label col-xs-4 col-sm-2">详细内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor" type="text/plain"></script>
			</div>
		</div>
		<div class="row cl" style="margin-left: 80px">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" onclick="" value="&nbsp;&nbsp;发布&nbsp;&nbsp;"/>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(function(){
    var newsId = getQueryString("newsId");
    if(newsId !== null && newsId !== undefined && newsId!==""){
        getNews();
    }
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			title:{
				required:true
			},
            datemin:{
				required:true
			},
            newsType:{
                required:true
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            oprNews();
//			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
    var ue = UE.getEditor('editor',{
        initialFrameHeight:400,
		imageUrl:"/upload",
		imagePath:''
	});
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action){
        if(action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage'){
			return '/uploadImg';
		}else{
            return this._bkGetActionUrl.call(this,action);
		}
	};
});

function getQueryString(name) {
    var result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
    if (result == null || result.length < 1) {
        return "";
    }
    return result[1];
}

function oprNews(){
    var newsId = getQueryString("newsId");
    if(newsId == null || newsId == undefined || newsId==""){
        addNews();
    }else{
        editNews();
    }
}

function addNews(){
    var url = "/manageApi/news/addNews";
    var datemin = $('#datemin').val();
    var cdate = new Date(datemin);
    datemin = cdate.getTime();
    var newsType = $('#newsType').val();
    var title = $('#title').val();
    var editor = UE.getEditor('editor').getContent();
    $.ajax({
        type: "post",
        url: url,
        contentType: "application/json",
        async:false,
        data: JSON.stringify({
            createTime:datemin,
            type:newsType,
            title:title,
            content:editor
        }),
        dataType: "json",
        success: function (data) {
            var ret = data.success;
            if(ret){
                alert(data.result);
                parent.window.location.reload();
            }else{
                alert(data.result);
			}
        },
        error: function(data) {
            console.log(data);
            alert("异常");
        }
    })
}

function editNews(){
    var url = "/manageApi/news/editNews";
    var newsId = getQueryString("newsId");
    var datemin = $('#datemin').val();
    var cdate = new Date(datemin);
    datemin = cdate.getTime();
    var newsType = $('#newsType').val();
    var title = $('#title').val();
    var editor = UE.getEditor('editor').getContent();
    $.ajax({
        type: "post",
        url: url,
        contentType: "application/json",
        async:false,
        data: JSON.stringify({
			id:newsId,
            createTime:datemin,
            type:newsType,
            title:title,
            content:editor
        }),
        dataType: "json",
        success: function (data) {
            var ret = data.success;
            if(ret){
                alert(data.result);
                parent.window.location.reload();
            }else{
                alert(data.result);
            }
        },
        error: function(data) {
            console.log(data);
            alert("异常");
        }
    })
}

function timestampToTime(timestamp) {
    var date = new Date(timestamp);
    Y = date.getFullYear() + '-';
    M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
    D = date.getDate() + ' ';
    h = date.getHours() + ':';
    m = date.getMinutes() + ':';
    s = date.getSeconds();
    return Y+M+D;
}
function getNews(){
    var url = "/manageApi/news/getNews";
    var newsId = getQueryString("newsId");
    $.ajax({
        type: "POST",
        contentType: "application/json",
        async:false,
        url: url,
        data: JSON.stringify({
            id:newsId
        }),
        dataType: "json",
        success: function (data) {
            $('#title').val(data.result.title);
            var ctime = timestampToTime(data.result.createTime);
            $('#datemin').val(ctime);
            $('#newsType').val(data.result.type);
            $('#editor').val(data.result.content);
//            UE.getEditor('editor').setContent(data.result.content);
        },
        error: function(data) {
            console.log(data);
            alert("异常");
        }
    });
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>